{% extends "base.html" %}

{% block title %}
Reports - SmartCare AI
{% endblock %}

{% block content %}

<div class="container">

    <h1>Hospital Reports</h1>

    <div class="card-container">

        <div class="card">
            <h3>Patient Report</h3>
            <p>View patient statistics and trends.</p>
            <br>
            <button class="btn">View Report</button>
        </div>

        <div class="card">
            <h3>Bed Occupancy Report</h3>
            <p>Analyze hospital bed utilization.</p>
            <br>
            <button class="btn">View Report</button>
        </div>

        <div class="card">
            <h3>Doctor Workload</h3>
            <p>Analyze doctor workload and availability.</p>
            <br>
            <button class="btn">View Report</button>
        </div>

        <div class="card">
            <h3>Revenue Report</h3>
            <p>View hospital revenue information.</p>
            <br>
            <button class="btn">View Report</button>
        </div>

    </div>

</div>

{% endblock %}